{% extends "base.html" %}
{% load staticfiles %}

{% block body_class %}

{% endblock %}

{% block extra_css %}

<script>
    window.fbAsyncInit = function () {
        FB.init({
            appId: 'your-app-id',
            xfbml: true,
            version: 'v2.5'
        });
    };

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {
            return;
        }
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>

<link rel="stylesheet" href="{% static 'css/leaflet.css' %}"/>
<link rel="stylesheet" href="{% static 'css/MarkerCluster.css' %}"></link>
<link rel="stylesheet" href="{% static 'css/MarkerCluster.Default.css' %}" </link>
<link rel='stylesheet' href='https://api.mapbox.com/mapbox.js/v2.2.3/mapbox.css'></link>
{% endblock %}

{% block title %}Social-Environment{% endblock %}

{% block content %}

<select id="year" class="form-control"
        style="visibility: hidden;position: absolute; z-index:1000; left: 50px; top:20px;">
    <option selected="selected" value="2013">2013</option>
</select>


<!-- Your share button code -->

<div id="map"></div>

<div class="container-fluid" id="main">
    <div class="row">
        <div class="col-xs-8" id="left">
            <a href="/map">Full Map</a>
            <img src="{% static 'images/logo.png' %}" style="max-width:100%;max-height:100%;"></img>

            <p style="font-size: 85%;">Check your local environment score and share it with a friend.  Social Environment uses EPA <a href="http://www3.epa.gov/airdata/ad_basic.html">air quality data</a> and EPA's <a href="http://airnow.gov/index.cfm?action=aqibasics.aqi">Air Quality Index<a> to rate air quality related to known pollutants measured in the area in the past year.  You can also see individiual contributing factors to the local air quality score as markers on the map.<p>

            <hr>

            <table style="width:100%; height:20%">
                <tr style="height: 100%">
                    <td>
                        <div id="quality_bar" style="width:40px;height: 100%;border-style: solid;"/>
                    </td>
                    <td style="padding-left: 10%">
                        <p>Air Quality Score</p>
                        <h1 id="score"></h1>
                        <p id="lat_long" style="text-decoration: underline;"></p>
                        <p style="font-size:80%">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam
                            sit amet vulputate.
                            Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
                            dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
                            Aliquam in felis sit amet augue.
                        </p>
                    </td>
                </tr>
            </table>
            <hr>

            <table style="width:100%;">
                <tr>
                    <td>
                        <div style="width:40px; height: 12px;border-style: solid;border-color: #66994e;background-color: #66994e; "/>
                    </td>
                    <td>Good</td>
                </tr>
                <tr>
                    <td>
                        <div style="width:40px; height: 12px;border-style: solid;border-color: #ffbe43;background-color: #ffbe43; "/>
                    </td>
                    <td>Moderate</td>
                </tr>
                <tr>
                    <td>
                        <div style="width:40px; height: 12px;border-style: solid;border-color: #ff651b;background-color: #ff651b; "/>
                    </td>
                    <td>Unhealthy for Sensitive Groups</td>
                </tr>
                <tr>
                    <td>
                        <div style="width:40px; height: 12px;border-style: solid;border-color: #850008;background-color: #850008; "/>
                    </td>
                    <td>Unhealthy</td>
                </tr>
                <tr>
                    <td>
                        <div style="width:40px; height: 12px;border-style: solid;border-color: #5f0022;background-color: #5f0022; "/>
                    </td>
                    <td>Very Unhealthy</td>
                </tr>
                <tr>
                    <td>
                        <div style="width:40px; height: 12px;border-style: solid;border-color: #2f001c;background-color: #2f001c; "/>
                    </td>
                    <td>Hazardous</td>
                </tr>
                <tr>
                    <td>
                        <div style="width:40px; height: 12px;border-style: solid;border-color: #2f001c;background-color: #000000; "/>
                    </td>
                    <td>Very Hazardous</td>
                </tr>
            </table>
        </div>
        <div class="col-xs-4"><!--map-canvas will be postioned here--></div>

    </div>
</div>

<div id="sharebutton" class="fb-share-button"></div>

{% endblock %}

{% block extra_js %}
<script src="{% static 'js/leaflet.js' %}"></script>
<script src='https://api.mapbox.com/mapbox.js/v2.2.3/mapbox.js'></script>
<script src="{% static 'js/leaflet.markercluster-src.js' %}"></script>
<script type="text/javascript" src="{% static 'js/radialProgress.js' %}"></script>
<script type="text/javascript" src="{% static 'js/d3.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/apps/main.js' %}"></script>
{% endblock %}
