{% extends "base.html" %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}
<style>
#map { height: 100%; width: 100%; }
</style>
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.12.1/mapbox-gl.css' rel='stylesheet' />
{% endblock %}


{% block content %}
<div id="map"></div>
{% endblock %}

{% block extra_js %}
<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.12.1/mapbox-gl.js'></script>

<script>
	mapboxgl.accessToken = 'pk.eyJ1IjoidmNjYWJyYWwiLCJhIjoiY2lpNWZpMXV3MDFnaXR3a2Z4cWhtOHIzdCJ9.VrZvhWnHZmXBxdJf1XWitQ';

	var map = new mapboxgl.Map({
	    container: 'map', // container id
	    style: 'mapbox://styles/mapbox/streets-v8', //stylesheet location
	    center: [-74.50, 40], // starting position
	    zoom: 9 // starting zoom
	});
</script>
{% endblock %}
